#if($ctx.error)
    $util.error($ctx.error.message, $ctx.error.type)
#end

## set Product udpate result to stash
$util.qr($ctx.stash.put("product", $ctx.result))
$util.qr($ctx.stash.put("productCostId", $ctx.result.productCostId))
$util.qr($ctx.stash.put("waybillId", $ctx.result.productWaybillId))

$util.toJson($context.result)